<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="application"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <message>message</message>
                <logger>logger</logger>
                <thread>thread</thread>
                <level>level</level>
                <version>[ignore]</version>
                <stackTrace>stack_trace</stackTrace>
            </fieldNames>
            <customFields>{"app_name":"${APP_NAME}"}</customFields>
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
            <provider class="net.logstash.logback.composite.loggingevent.MdcJsonProvider">
                <fieldName>mdc</fieldName>
            </provider>
        </encoder>
    </appender>

    <appender name="CONSOLE_PRETTY" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [traceId=%X{traceId:-}, spanId=%X{spanId:-}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE_PRETTY"/>
        </root>
    </springProfile>

    <springProfile name="!dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <logger name="com.example" level="DEBUG"/>
</configuration>
